/pyRF.sublime-project
/pyRF.sublime-workspace

*.pyc

.DS_Store

/build

.idea

*.lprof

/Resultados

config.py

/sets

/output

notas.txt

performance.py

/.ipynb_checkpoints

script.py
testtree.py

temp.py

prueba.py

