/pyRF.sublime-project
/pyRF.sublime-workspace

*.pyc

.DS_Store

/build

.idea

*.lprof

/resultados trust
/resultados var_comp
/resultados comp
/resultados new_var
/resultado especial
/resultados iris

/Resultados


/sets

/output

notas.txt

performance.py

/.ipynb_checkpoints

script.py
testtree.py
